p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
body {
  text-align: justify;
}
.book .book-body .page-wrapper .page-inner {
  max-width: 1200px !important;
}
.book .book-body .page-wrapper .page-inner {
  max-width: 85% !important;
}

.book .book-body .page-wrapper .page-inner section.normal h1{font-size:18pt}
.book .book-body .page-wrapper .page-inner section.normal h2{font-size:16pt}
.book .book-body .page-wrapper .page-inner section.normal h3{font-size:14pt}